#footer{
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 15%;
  
  
}
#ud{
    text-decoration: underline;
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
}
#foot1{
    width: 25%;
  
}
#foot2{
    width: 25%;
   
}
#foot3{
    width: 25%;
   
}
#foot4{
    width: 25%;
   
}
